<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties>
		<property name="dialect" value="mysql"/>
	</properties>
	<settings>
		<setting name="cacheEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="false"/>
		<setting name="defaultExecutorType" value="SIMPLE"/>
		<setting name="lazyLoadingEnabled" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="defaultStatementTimeout" value="25000"/>
		<setting name="multipleResultSetsEnabled" value="true"/>
		<!-- <setting name="useColumnLabel" value="true"/>
		<setting name="autoMappingBehavior" value="Full"/>
		<setting name="mapUnderscoreToCamelCase" value="false"/>
		<setting name="localCacheScope" value="SESSION"/> -->
	
	</settings>
	
	<typeAliases>
		<typeAlias type="com.owner.model.MusicInfo"/>
		<typeAlias type="com.owner.model.User"/>
	</typeAliases>
</configuration>
